ul{
    list-style: none;
    display: flex;
    gap:20px;
}
a{
    text-decoration: none;
    color:black;
    font-size:15px;
}
nav{
    background:rgb(205, 24, 24);
    padding: 15px;
}
a{
    color:rgb(8, 6, 3);
}
a:hover{
    color:blue;
}